includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        -
            message: '#Trait [a-zA-Z0-9\\_]+ is used zero times and is not analysed.#'
            paths:
                - %currentWorkingDirectory%/src/Traits/HasTabs.php
                - %currentWorkingDirectory%/src/Traits/MultiStepForm.php
